{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["**/*/tsconfig.json"]
  },
  "plugins": [
    "@typescript-eslint",
    "typescript-sort-keys",
    "simple-import-sort",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/strict-type-checked"
  ],
  "rules": {
    // simple-import-sort
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",

    // typescript-sort-keys
    "typescript-sort-keys/interface": "error",
    "typescript-sort-keys/string-enum": "error",

    // typescript-eslint
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/quotes": ["error", "double", { "avoidEscape": true }],
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": {
          "arguments": false
        }
      }
    ]
  }
}
